# =========================
# ENVIRONMENT / SECRETS
# =========================
.env
*.env

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
env/
.venv/

# =========================
# DJANGO
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# DATABASE BACKUPS 
# =========================
*.sql

db saves/
*.csv